body {
    margin: 0;
    padding: 0;
    background-color: #fff4d6;
}



.clearfix {
    content: "";
    clear: both;
    display: table;
}


menu {
    display: block;
    position: absolute;
    right: 60px;
    top: 10px;

}

.href {
    width: 130px;
    height: 40px;

    margin-right: 20px;
    margin-top: 10px;
    padding-left: 30px;

    color: #bd080d;
    font-size: 30px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;

    float: right;

    border: none;
    border-left: 3px solid #bd080d;

    background-color: #ffffff00;
}


main {
    width: 40%;
    height: auto;

    margin-left: 10%;
    margin-top: 100px;

    float: left;
}


h2 {
    color: #618916;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

p {
    color: #756357;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

h1 {
    color: #bd080d;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;


}

#more {
    width: 250px;
    height: 40px;

    color: #bd080d;
    font-size: 20px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

    border: 3px solid #bd080d;
    border-radius: 20px;

    background-color: #00000000;

}

#about {
    width: 40%;

    margin-top: 100px;


    display: none;
    position: relative;
    float: left;



}

#about p {
    font-size: 20px;
}



#mypro {

    width: 100%;
    position: relative;
    margin-top: 100px;

    color: #bd080d;
    font-size: 50px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;



}

.projects {
    width: 40%;
    height: 250px;
    background-color: #fff4d6;
    display: inline-block;

    margin-left: 5%;
    margin-top: 20px;

    border: 8px solid #bd080d;
    border-radius: 30px;

}

.language {
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #bd080d;
    font-weight: 400;
    font-style: normal;

    margin-top: 5px;
}

.project {

    min-width: 150px;
    height: 40px;

    color: #bd080d;
    font-size: 20px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 20px;

    border: 3px solid #bd080d;
    border-radius: 20px;

    background-color: #00000000;

}